.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.App {
    text-align: center;
    flex: 1;
}

.App-header {
    background-color: #222;
    height: 100px;
    padding: 20px;
    color: white;
}

.App-title {
    margin-top: 35px;
    font-size: 1.6em;
}

.App-intro {
    padding-top: 40px;
    font-size: 1.5em;
}

.button {
  margin-top: 40px;
}

.form {
    margin-top: 40px;
}

footer {
    text-align: center;
}

@keyframes blinker {
    50% { opacity: 0.0; }
}