.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.App {
    text-align: center;
    flex: 1;
}

.App-header {
    background-color: #222;
    height: 100px;
    padding: 20px;
    color: white;
}

.App-title {
    margin-top: 35px;
    font-size: 1.6em;
}

.App-intro {
    padding-top: 40px;
    font-size: 1.5em;
}

.button {
    margin-top: 40px;
}

.form {
    margin-top: 40px;
}

footer {
    text-align: center;
}

.category-wrapper {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: capitalize;
}

.subcategory {
    flex: 1;
    display: flex;
    padding: 10px;
    border: #838383 1px solid;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.subcategory h3 {
    flex: 1;
}

.progress-wrapper {
    flex: 5;
    margin-left: 10px;
}